/* BASIC STYLES HERE */



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(30, 30, 85, 0.929);
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

/* .note-details {
  align-items: flex-start;
} */

/* .date {
  display: inline-block;
} */

.color-bubble {
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: thin solid black;
}